@import "/src/app/styles/mixins"
.wrapper
  width: 19.5%


.img
  width: 100%
  min-width: 150px

.info
  margin-top: 20px
  color: $c-main
  @include text-20

  &:hover
    color: $c-blue

.field
  margin-top: 10px
  color: $c-main
  @include text-14