@import "../../styles/mixins"
.form
  max-height: 70vh
  overflow-y: auto
  &__wrapper
    display: flex
    flex-direction: column
    overflow-y: auto
    scrollbar-width: none
    max-height: 70vh
    &::-webkit-scrollbar
      width: 0
  &__field
    border: 1px solid rgba(#EFF0F6, 0.16)
    box-sizing: border-box
    box-shadow: 0 2px 6px rgba(19, 18, 66, 0.07)
    border-radius: 46px
    height: 60px
    padding: 20px
    &:hover
      outline: 3px solid #98B7BA
    &:not(:first-child)
      margin-top: 24px
    &::-moz-placeholder, input::-webkit-input-placeholder
      color: rgba($c-main, 0.4)
  &__btn
    margin-top: 32px

.error
  font-weight: 400
  font-size: 14px
  line-height: 20px
  margin-left: 16px
  margin-top: 8px
  color: #FF4545