@import "./src/app/styles/mixins"

.header
  display: flex
  flex-direction: row
  justify-content: space-between

  &__wrapper
    display: flex
    flex-direction: column
    width: 100%
    background-color: $c-blue
    color: $c-gray
    border-bottom: 1px solid $c-blue
    padding: 40px 10px

  &__info__navigation
    background-color: white
    display: flex
    justify-content: end
    height: 80px

.link
  @include text-15
  text-transform: uppercase

  &:not(:first-child)
    margin-left: 38px

.info_main
  &__wrapper
    margin: 0 auto
    max-width: 1200px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @include tablet
      flex-direction: column
      row-gap: 20px

  &_btn
    &:not(:first-child)
      margin-top: 10px

    &__wrapper
      display: flex
      flex-direction: column

.title
  @include adaptiv-font(40, 20)



