@import "./src/app/styles/mixins"

footer
  background-color: $c-gray
  color: $c-main
  padding: 40px

.wrapper
  display: flex
  column-gap: 50px

  width: 100%
  justify-content: center
  @include tablet
    flex-direction: column
    align-items: center
    padding: 15px
    row-gap: 30px

  img
    max-width: 150px
    width: 15%
